@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,700&display=swap");

html {
    font-size: 16pt;
    line-height: 1.5;
    font-family: "Fira Sans", sans-serif;
    color: #cab6c1;
}

body {
    margin: 0;
    background-image: url("https://switchroot.org/logo.png");
    background-color: #300a24;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: #edc7e5;
}

a:visited {
    color: #eddbed;
}

#main-header {
    background-color: #3e0e2f;
    padding: 3rem 0;
}

#main-header h1 {
    font-size: calc(8vw + 0.5rem);
    margin: 0 0 3rem 0;
    line-height: 1;
    color: #eed3e2;
    text-align: center;
}

main,
.links {
    max-width: 800px;
    margin: 0 auto;
}

main {
    margin: 2rem auto;
    padding: 0 2rem;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.links a {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 10rem;
    height: 3rem;
    background: #300a24;
    border-radius: 0.25rem;
    text-decoration: none;
    font-size: calc(3vw + 0.1rem);
}

.links a:not(:last-child) {
    margin-right: 1rem;
}

.links a em {
    font-style: normal;
    font-weight: 800;
}

@media (max-width: 500px) {
    #main-header {
        padding: 1rem 1.5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    #main-header h1 {
        font-size: 1.25rem;
        text-align: left;
        margin: 0;
    }

    #main-header .links {
        display: none;
    }

    main {
        /* now that the header is floating, the main element needs some extra
           vertical space since the header doesn't take up any anymore.
           otherwise, it'll be behind the floating header a little. */
        margin-top: calc(1rem * 2 + 1.25rem + 2rem);
    }
}

@media (min-width: 1000px) {
    /* fix the font sizes of the dynamically sized elements to prevent them from
       growing too big */

    #main-header h1 {
        font-size: 4rem;
    }

    .links a {
        font-size: 1.25rem;
    }
}
